.mainHeader{
  padding: 20px 30px;
  display: flex;
  align-items: center;
  background-color: #3c0949;
  color: white;
}

.headerText {
  font-size: 24px;
  margin: 0px 10px;
}

.spacer {
  flex-grow: 1;
}

.link {
  margin-left: 20px;
  color: white;
  text-decoration-color: white;
}